@mixin dark-mode {
  background-color: $color-dark;
  color: $color-light;

  a {
    color: lighten($link-color, 20%);
  }
}

@mixin light-mode {
  background-color: $color-light;
  color: $color-dark;
}
