@mixin dark-mode {
  background-color: $color-dark;
  color: $color-light;

  a {
    color: lighten($link-color, 20%);
  }

  header {
    .meta {
      color: lighten($color-dark-grey, 20%);

      a,
      svg {
        color: lighten($color-dark-grey, 20%);
      }
    }

    .summary {
      color: lighten($color-dark-grey, 20%);
    }
  }

  nav {
    background-color: $color-dark;

    .nav__logo a,
    .nav__actions a,
    .nav__actions svg {
      color: $color-light;
    }
  }

  img.icon {
    filter: contrast(0);

    &:hover {
      filter: invert(1);
    }
  }

  footer {
    background-color: $color-dark;
  }

  p {
    code {
      background-color: #181818;
      color: #50fa7b;
    }
  }
}

@mixin light-mode {
  background-color: $color-light;
  color: $color-dark;

  nav {
    background-color: $color-light-grey;

    .nav__logo a,
    .nav__actions a,
    .nav__actions svg {
      color: $color-dark;
    }
  }

  img.icon {
    filter: contrast(0.7);

    &:hover {
      filter: contrast(1);
    }
  }

  footer {
    background-color: $color-light;
  }

  p {
    code {
      background-color: #ebe8e8;
      color: #4b4949;
    }
  }
}
