@mixin dark-mode {
  background-color: $color-dark;
  color: $color-light;

  a {
    color: lighten($link-color, 20%);
  }

  header {
    .meta {
      color: lighten($color-dark-grey, 20%);
      a,
      svg {
        color: lighten($color-dark-grey, 20%);
      }
    }
  }

  nav {
    background-color: $color-dark;

    .nav__logo a,
    .nav__actions a,
    .nav__actions svg {
      color: $color-light;
    }
  }

  footer {
    background-color: $color-dark;
    img {
      filter: invert(1);
    }
  }
}

@mixin light-mode {
  background-color: $color-light;
  color: $color-dark;

  nav {
    background-color: $color-light-grey;

    .nav__logo a,
    .nav__actions a,
    .nav__actions svg {
      color: $color-dark;
    }
  }
}
