// Colors
$color-dark: #141414;
$color-light: #fff;
$color-grey: #888;

// Elements
$color-border: #eaeaea;
$link-color: #006eff;

// Fonts
$font-size: 18px;
$font-sans-serif: system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
