<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include "partials/head.njk" %}
  <body>
    <div class="container">
      {% include "partials/nav.njk" %}
      <header>
        <h1>{{ title }}</h1>
        <div class="meta">{{ date | formatDate }} -
          <i data-feather="clock"></i>
          {{ content | timeToRead }}
        </div>
      </header>
      <main>
        <article>
          {{ content | safe }}
        </article>
      </main>
      {% include "partials/footer.njk" %}
    </div>
    {% include "partials/script.njk" %}</body>
</html></body></html></body></html>
