<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include "partials/head.njk" %}
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      <p>{{ content | safe }}</p>
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
