nav {
  width: 100%;

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .nav__logo {
    display: flex;
    align-items: center;

    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-dark;
      text-decoration: none;
    }
  }

  .nav__actions {
    display: flex;
    align-items: center;

    a {
      margin-right: 1rem;
      font-size: 1rem;
      color: $color-dark;
      text-decoration: none;
    }

    .icon-theme {
      display: flex;
      align-items: center;
      width: 1.5rem;
      color: $color-dark;
      cursor: pointer;
    }
  }
}
