<footer>
  <a href="/feed.xml" title="RSS Feed" target="_blank">
    <img src={{ '/assets/vendors/icons/rss.svg' | url }} alt="RSS Feed"/>
  </a>
  <a href="https://github.com/Leyka" title="Github" target="_blank">
    <img src={{ '/assets/vendors/icons/github.svg' | url }} alt="Github"/>
  </a>
  <a href="https://ca.linkedin.com/in/skanderkc/en" title="Linkedin" target="_blank">
    <img src={{ '/assets/vendors/icons/linkedin.svg' | url }} alt="Linkedin"/>
  </a>
  <a id="contact-link" href="#" title=" contact">
    <img src={{ '/assets/vendors/icons/at.svg' | url }} alt="Email"/>
  </a>
</footer>
