<nav>
  <div class="nav__container">
    <div class="nav__logo">
      <a href="/">Skander</a>
    </div>
    <div class="nav__actions">
      <a href="/">Home</a>
      <a href="/archives">Archives</a>
      <a href="/about">About</a>
      <span class="icon-theme">
        <i data-feather="moon" class="icon-dark"></i>
        <i data-feather="sun" class="icon-light"></i>
      </span>
    </div>
  </div>
</nav>
