html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: $font-size;
  font-family: $font-sans-serif;

  &[data-theme='dark'] {
    @include dark-mode;
  }

  &[data-theme='light'] {
    @include light-mode;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode;
  }
}

.main-layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 720px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

main,
header,
footer {
  flex-shrink: 0;
}
